.home__products{
    width: 100%;
}

.home__filter {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__filter-components{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 0.8em;
}

.home__filter-input {
    border-radius: 0px;
    border: 1px solid #f85555;
    width: 300px;
    height: 20px;
}

.home__filter-input:focus {
    border: 1px solid rgb(226, 4, 4);
    outline: none;
}


.home__filter-icon {
    background-color: #f85555;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media (min-width: 768px) {
    .home__filter-input {
        width: 600px;
        height: 25px;
    }

    .home__filter-icon {
        padding: 0.4em;
    }
}